@*@model IEnumerable<Calificaciones>*@

@model IEnumerable<Calificaciones>

@using LMS.Utility
@{
    ViewData["Title"] = "Calificaciones";

    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<br />
<br />

<div class="border backgroundWhite">

    <div class="row">

        <div class="col-6">

            <h2 class="text-info">Lista de Calificaciones</h2>
        </div>

      

   


    </div>


    <br />


    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Tareas.NombreTarea)

                    </th>

                    <th>
                        @*@Html.DisplayNameFor(m => m.Clase.Nombre)*@



                    </th>

                    <th>
                        @*@Html.DisplayNameFor(m => m.Tareas.Materia.Nombre)*@

                        @Html.DisplayNameFor(m => m.Tareas.Cursos.Nombre)

                    </th>

                    <th>
                        @Html.DisplayNameFor(m => m.Estudiante.NombreEstudiante)

                    </th>

                    <th>
                        @Html.DisplayNameFor(m => m.Nota)

                    </th>



                    <th>

                    </th>

                    <th>


                    </th>


                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>


                            <a href="@Url.Action("TareaDownloader", "EnvioTarea", new { Id = item.Id  })"> @Html.DisplayFor(m => item.Tareas.NombreTarea)</a>

                        </td>

                        <td>
                        </td>

                        <td>
                            @Html.DisplayFor(m => item.Tareas.Cursos.Nombre)

                        </td>

                        <td>
                            @Html.DisplayFor(m => item.Estudiante.NombreEstudiante)

                        </td>

                        <td>
                            @Html.DisplayFor(m => item.Nota)

                        </td>

                        @if (User.IsInRole(SD.TeacherUser))
                        {
                            <td>
                                <partial name="_CursoTableButtonPartial" model="item.Id" />
                            </td>

                        }
                    </tr>

                }
            </table>
        }
        else
        {
            <p> no hay notas existentes...</p>
        }
    </div>


</div>



